.grid {
  color: white;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
  grid-auto-rows: 100px;
}

.items:nth-child(odd) {
  background: green;
}

.items:nth-child(even) {
  background: blue;
}
